.container {
  position: relative;
  display: flex;
  align-items: center;
  .input {
    width: 200px;
    padding: 7px 10px;
    padding-left: 45px;
    border-radius: 10px;
  }
  .icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
  }
  .iconCross {
    left: 90%;
    cursor: pointer;
  }
}
