.container {
  position: absolute;
  width: 200vh;
  height: 100vh;
  left: -25%;
  background-color: #2b2b2b;
  color: #bababa;
  .timeZone {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    .date {
      padding-right: 5px;
    }
    .time {
      padding-left: 5px;
    }
  }
  .title {
    position: absolute;
    font-size: 48px;
    width: 95%;
    height: 15%;
    border: none;
    background-color: #2b2b2b;
    color: #dbdbdb;
    &:focus {
      outline: none;
    }
  }
  .content {
    position: absolute;
    top: 15%;
    font-size: 24px;
    width: 95%;
    height: 80%;
    resize: none;
    border: none;
    background-color: #2b2b2b;
    color: #dbdbdb;
    &:focus {
      outline: none;
    }
  }
}
