.container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  .button {
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #bababa;
    &:hover {
      color: #dbdbdb;
    }
    &:disabled {
      color: #4f4f4f;
      cursor: default;
    }
  }
  .buttonContainer {
    width: 5%;
    display: flex;
    justify-content: space-between;
  }
}
