.container {
  display: flex;
  margin: 17px;
  justify-content: space-between;

  .button {
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #bababa;
    &:hover {
      color: #dbdbdb;
    }
    &:disabled {
      color: #4f4f4f;
      cursor: default;
    }
  }
  .buttonContainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
}
